---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "@/consts";
import { ModeToggle } from "@/components/react/ModeToggle";
import { SearchPage } from "@/components/react/SearchPage";
import { RssIcon } from "lucide-react";
import { Button } from "@/components/ui/button";
---

<header
  class="sticky top-0 left-0 right-0 z-50 border-b bg-background/95 backdrop-blur supports-[backdrop-filter]:bg-background/60"
>
  <nav class="container flex h-14 items-center justify-center">
    <h2
      class="hidden sm:flex text-2xl font-bold text-primary items-center justify-start h-full flex-1"
    >
      <a href="/">{SITE_TITLE}</a>
    </h2>
    <div class="flex gap-4 items-center text-primary justify-end flex-1">
      <SearchPage client:load />
    </div>
    <HeaderLink href="/rss.xml" target={"_blank"}>
      <Button aria-label="Rss" variant={"ghost"} size={"icon"}>
        <RssIcon />
      </Button>
    </HeaderLink>
    <ModeToggle client:load />
  </nav>
</header>
