.fade-enter {
  opacity: 0;
  transform: translateY(10px);
}

.fade-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms, transform 300ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 300ms, transform 300ms;
}

mark {
  background-color: hsl(60, 100%, 45%);
  border-radius: calc(var(--radius) - 4px);
  padding: 0 2px;
  margin: 0 1px;
}
