---
import Html from "@/layouts/Html.astro";
---

<Html>
  <div class="text-center w-full pt-4">
    <h1
      class="text-4xl font-bold mb-4 bg-gradient-to-r from-pink-500 via-red-500 to-yellow-500 text-transparent bg-clip-text"
    >
      7x24 小时赛博乞讨
    </h1>
    <div class="flex space-x-4 justify-center">
      <img
        src="https://zzwtsy.github.io/picx-images-hosting/Alipay.86to56tfhe.webp"
        alt="支付宝二维码"
        class="w-80 rounded-md"
      />
      <img
        src="https://zzwtsy.github.io/picx-images-hosting/WeChatPay.5q7fq9mjkx.webp"
        alt="微信二维码"
        class="w-80 rounded-md"
      />
    </div>
  </div>
</Html>
