---
import { getCollection } from "astro:content";
import FormattedDate from "@/components/astro/FormattedDate.astro";
import Html from "@/layouts/Html.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<Html>
  <main class="container mt-24">
    <section class="max-w-[80ch] mx-auto">
      <ul class="flex flex-col gap-6 list-none">
        {
          posts
            .sort((a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime())
            .map((post) => (
              <li class="w-[calc(100% - 1rem)] border-b-2 border-dashed gap-2 pb-2">
                <a href={`/${post.slug}/`} class="text-primary">
                  <h4 class="text-xl font-bold hover:text-muted-foreground">
                    {post.data.title}
                  </h4>
                  <p class="my-2 text-lg text">{post.data.description}</p>
                  <p class="text-md">
                    <FormattedDate date={post.data.pubDate} />
                  </p>
                </a>
              </li>
            ))
        }
      </ul>
    </section>
  </main>
</Html>
