---
import type { CollectionEntry } from "astro:content";
import PostComments from "@/components/astro/PostComments.astro";
import PostHeader from "@/components/astro/PostHeader.astro";
import Html from "./Html.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, pubDate, updatedDate, heroImage } = Astro.props;
---

<Html>
  <div>
    <article
      class="prose max-w-[80ch] prose-zinc dark:prose-invert prose-img:rounded-lg mx-auto"
    >
        <PostHeader
          title={title}
          pubDate={pubDate}
          updatedDate={updatedDate}
          heroImage={heroImage}
        />
        <slot />
    </article>
    <PostComments />
  </div>
</Html>
