---
import BaseHead from '@/components/astro/BaseHead.astro';
import Header from '@/components/astro/Header.astro';
import Footer from '@/components/astro/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '@/consts';
import { ViewTransitions } from "astro:transitions";
import { fade } from 'astro:transitions';
import "rc-image/assets/index.css";
---

<html lang="zh-CN" transition:animate={fade({ duration: '0.5s' })}>
  <head>
    <script is:inline>
      (function () {
        const storedTheme = window.localStorage.getItem("theme") ?? "system";
        let presetTheme;
        if (storedTheme === "system") {
          presetTheme = window.matchMedia("(prefers-color-scheme: dark)")
            .matches
            ? "dark"
            : "light";
        } else {
          presetTheme = storedTheme;
        }
        if (presetTheme === "dark") {
          document.documentElement.classList.add("dark");
          document.documentElement.style.colorScheme = "dark";
        } else {
          document.documentElement.classList.remove("dark");
          document.documentElement.style.colorScheme = "light";
        }
      })();
    </script>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <ViewTransitions />
  </head>
  <body class="relative min-h-screen flex flex-col">
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
    <script>
      (function () {
        // 初始化颜色模式
        const initColorMode = () => {
          const storedTheme = window.localStorage.getItem("theme") ?? "system";
          console.log("storedTheme:", storedTheme);
          let presetTheme;
          if (storedTheme === "system") {
            presetTheme = window.matchMedia("(prefers-color-scheme: dark)")
              .matches
              ? "dark"
              : "light";
          } else {
            presetTheme = storedTheme;
          }
          if (presetTheme === "dark") {
            document.documentElement.classList.add("dark");
            document.documentElement.style.colorScheme = "dark";
          } else {
            document.documentElement.classList.remove("dark");
            document.documentElement.style.colorScheme = "light";
          }
        };
        // 执行初始化
        initColorMode();
        document.addEventListener("astro:after-swap", initColorMode);
      })();
    </script>
  </body>
</html>
